.dark, .dark-theme {
  --accent-1: #0d1520;
  --accent-2: #111927;
  --accent-3: #0d2847;
  --accent-4: #003362;
  --accent-5: #004074;
  --accent-6: #104d87;
  --accent-7: #205d9e;
  --accent-8: #2870bd;
  --accent-9: #0090ff;
  --accent-10: #3b9eff;
  --accent-11: #70b8ff;
  --accent-12: #c2e6ff;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --accent-1: color(display-p3 0.057 0.081 0.122);
      --accent-2: color(display-p3 0.072 0.098 0.147);
      --accent-3: color(display-p3 0.078 0.154 0.27);
      --accent-4: color(display-p3 0.033 0.197 0.37);
      --accent-5: color(display-p3 0.08 0.245 0.441);
      --accent-6: color(display-p3 0.14 0.298 0.511);
      --accent-7: color(display-p3 0.195 0.361 0.6);
      --accent-8: color(display-p3 0.239 0.434 0.72);
      --accent-9: color(display-p3 0.247 0.556 0.969);
      --accent-10: color(display-p3 0.344 0.612 0.973);
      --accent-11: color(display-p3 0.49 0.72 1);
      --accent-12: color(display-p3 0.788 0.898 0.99);
    }
  }
}