.dark, .dark-theme {
  --accent-1: #121211;
  --accent-2: #1b1a17;
  --accent-3: #24231f;
  --accent-4: #2d2b26;
  --accent-5: #38352e;
  --accent-6: #444039;
  --accent-7: #544f46;
  --accent-8: #696256;
  --accent-9: #978365;
  --accent-10: #a39073;
  --accent-11: #cbb99f;
  --accent-12: #e8e2d9;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --accent-1: color(display-p3 0.071 0.071 0.067);
      --accent-2: color(display-p3 0.104 0.101 0.09);
      --accent-3: color(display-p3 0.141 0.136 0.122);
      --accent-4: color(display-p3 0.177 0.17 0.152);
      --accent-5: color(display-p3 0.217 0.207 0.185);
      --accent-6: color(display-p3 0.265 0.252 0.225);
      --accent-7: color(display-p3 0.327 0.31 0.277);
      --accent-8: color(display-p3 0.407 0.384 0.342);
      --accent-9: color(display-p3 0.579 0.517 0.41);
      --accent-10: color(display-p3 0.628 0.566 0.463);
      --accent-11: color(display-p3 0.784 0.728 0.635);
      --accent-12: color(display-p3 0.906 0.887 0.855);
    }
  }
}