.dark, .dark-theme {
  --accent-1: #0d1512;
  --accent-2: #121c18;
  --accent-3: #0f2e22;
  --accent-4: #0b3b2c;
  --accent-5: #114837;
  --accent-6: #1b5745;
  --accent-7: #246854;
  --accent-8: #2a7e68;
  --accent-9: #29a383;
  --accent-10: #27b08b;
  --accent-11: #1fd8a4;
  --accent-12: #adf0d4;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --accent-1: color(display-p3 0.059 0.083 0.071);
      --accent-2: color(display-p3 0.078 0.11 0.094);
      --accent-3: color(display-p3 0.091 0.176 0.138);
      --accent-4: color(display-p3 0.102 0.228 0.177);
      --accent-5: color(display-p3 0.133 0.279 0.221);
      --accent-6: color(display-p3 0.174 0.334 0.273);
      --accent-7: color(display-p3 0.219 0.402 0.335);
      --accent-8: color(display-p3 0.263 0.488 0.411);
      --accent-9: color(display-p3 0.319 0.63 0.521);
      --accent-10: color(display-p3 0.338 0.68 0.555);
      --accent-11: color(display-p3 0.4 0.835 0.656);
      --accent-12: color(display-p3 0.734 0.934 0.838);
    }
  }
}