:root, .light, .light-theme {
  --accent-1: #fcfdfa;
  --accent-2: #f8faf3;
  --accent-3: #eef6d6;
  --accent-4: #e2f0bd;
  --accent-5: #d3e7a6;
  --accent-6: #c2da91;
  --accent-7: #abc978;
  --accent-8: #8db654;
  --accent-9: #bdee63;
  --accent-10: #b0e64c;
  --accent-11: #5c7c2f;
  --accent-12: #37401c;
  --accent-contrast: #000;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --accent-1: color(display-p3 0.989 0.992 0.981);
      --accent-2: color(display-p3 0.975 0.98 0.954);
      --accent-3: color(display-p3 0.939 0.965 0.851);
      --accent-4: color(display-p3 0.896 0.94 0.76);
      --accent-5: color(display-p3 0.843 0.903 0.678);
      --accent-6: color(display-p3 0.778 0.852 0.599);
      --accent-7: color(display-p3 0.694 0.784 0.508);
      --accent-8: color(display-p3 0.585 0.707 0.378);
      --accent-9: color(display-p3 0.78 0.928 0.466);
      --accent-10: color(display-p3 0.734 0.896 0.397);
      --accent-11: color(display-p3 0.386 0.482 0.227);
      --accent-12: color(display-p3 0.222 0.25 0.128);
      --accent-contrast: color(display-p3 0 0 0); 
    }
  }
}