:root, .light, .light-theme {
  --accent-1: #fffcfc;
  --accent-2: #fff7f7;
  --accent-3: #feebec;
  --accent-4: #ffdbdc;
  --accent-5: #ffcdce;
  --accent-6: #fdbdbe;
  --accent-7: #f4a9aa;
  --accent-8: #eb8e90;
  --accent-9: #e5484d;
  --accent-10: #dc3e42;
  --accent-11: #ce2c31;
  --accent-12: #641723;
  --accent-contrast: #FFF;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --accent-1: color(display-p3 0.998 0.989 0.988);
      --accent-2: color(display-p3 0.995 0.971 0.971);
      --accent-3: color(display-p3 0.985 0.925 0.925);
      --accent-4: color(display-p3 0.999 0.866 0.866);
      --accent-5: color(display-p3 0.984 0.812 0.811);
      --accent-6: color(display-p3 0.955 0.751 0.749);
      --accent-7: color(display-p3 0.915 0.675 0.672);
      --accent-8: color(display-p3 0.872 0.575 0.572);
      --accent-9: color(display-p3 0.83 0.329 0.324);
      --accent-10: color(display-p3 0.798 0.294 0.285);
      --accent-11: color(display-p3 0.744 0.234 0.222);
      --accent-12: color(display-p3 0.36 0.115 0.143);
      --accent-contrast: color(display-p3 1 1 1);
    }
  }
}