:root, .light, .light-theme {
  --accent-a1: #ff000003;
  --accent-a2: #ff200008;
  --accent-a3: #f52b0018;
  --accent-a4: #ff35002c;
  --accent-a5: #ff2e003d;
  --accent-a6: #f92d0050;
  --accent-a7: #e7280067;
  --accent-a8: #db250084;
  --accent-a9: #df2600d1;
  --accent-a10: #d72400da;
  --accent-a11: #cd2200ea;
  --accent-a12: #460900e0;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --accent-a1: color(display-p3 0.675 0.024 0.024 / 0.012);
      --accent-a2: color(display-p3 0.757 0.145 0.02 / 0.032);
      --accent-a3: color(display-p3 0.831 0.184 0.012 / 0.091);
      --accent-a4: color(display-p3 0.976 0.192 0.004 / 0.165);
      --accent-a5: color(display-p3 0.918 0.192 0.004 / 0.232);
      --accent-a6: color(display-p3 0.847 0.173 0.004 / 0.302);
      --accent-a7: color(display-p3 0.788 0.165 0.004 / 0.389);
      --accent-a8: color(display-p3 0.749 0.153 0.004 / 0.499);
      --accent-a9: color(display-p3 0.78 0.149 0 / 0.769);
      --accent-a10: color(display-p3 0.757 0.141 0 / 0.8);
      --accent-a11: color(display-p3 0.755 0.259 0.152);
      --accent-a12: color(display-p3 0.335 0.165 0.132);
    }
  }
}