:root, .light, .light-theme {
  --success-1: #fbfefc;
  --success-2: #f4fbf6;
  --success-3: #e6f6eb;
  --success-4: #d6f1df;
  --success-5: #c4e8d1;
  --success-6: #adddc0;
  --success-7: #8eceaa;
  --success-8: #5bb98b;
  --success-9: #30a46c;
  --success-10: #2b9a66;
  --success-11: #218358;
  --success-12: #193b2d;
  --success-contrast: #fff;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --success-1: color(display-p3 0.986 0.996 0.989);
      --success-2: color(display-p3 0.963 0.983 0.967);
      --success-3: color(display-p3 0.913 0.964 0.925);
      --success-4: color(display-p3 0.859 0.94 0.879);
      --success-5: color(display-p3 0.796 0.907 0.826);
      --success-6: color(display-p3 0.718 0.863 0.761);
      --success-7: color(display-p3 0.61 0.801 0.675);
      --success-8: color(display-p3 0.451 0.715 0.559);
      --success-9: color(display-p3 0.332 0.634 0.442);
      --success-10: color(display-p3 0.308 0.595 0.417);
      --success-11: color(display-p3 0.19 0.5 0.32);
      --success-12: color(display-p3 0.132 0.228 0.18);
      --success-contrast: color(display-p3 1 1 1);
    }
  }
}