@import "tailwindcss";
@plugin "flowbite-typography";

/* Primary Color */
@import "../styles/primary/jade.css";
@import "../styles/primary/jade-dark.css";
@import "../styles/primary/jade-alpha.css";
@import "../styles/primary/jade-dark-alpha.css";

/*  Gray Color */
@import "../styles/gray/sage.css";
@import "../styles/gray/sage-dark.css";
@import "../styles/gray/sage-alpha.css";
@import "../styles/gray/sage-dark-alpha.css";

/*  Semantic Colors */

/* Danger */
@import "../styles/semantic/tomato.css";
@import "../styles/semantic/tomato-dark.css";

/* Warning */
@import "../styles/semantic/orange.css";
@import "../styles/semantic/orange-dark.css";

/* Success */
@import "../styles/semantic/green.css";
@import "../styles/semantic/green-dark.css";

/* Info */
@import "../styles/semantic/blue.css";
@import "../styles/semantic/blue-dark.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme static {
    --color-*: initial;
    --breakpoint-phone: 0rem; /* Phones (portrait) */
    --breakpoint-phone-wide: 32.5rem; /* Phones (landscape) */
    --breakpoint-tablet: 48rem; /* Tablets (portrait) */
    --breakpoint-tablet-wide: 64rem; /* Tablets (landscape) */
    --breakpoint-laptop: 80rem; /* Laptops */
    --breakpoint-desktop: 102.5rem; /* Desktops */
    --color-accent-1: var(--accent-1);
    --color-accent-2: var(--accent-2);
    --color-accent-3: var(--accent-3);
    --color-accent-4: var(--accent-4);
    --color-accent-5: var(--accent-5);
    --color-accent-6: var(--accent-6);
    --color-accent-7: var(--accent-7);
    --color-accent-8: var(--accent-8);
    --color-accent-9: var(--accent-9);
    --color-accent-10: var(--accent-10);
    --color-accent-11: var(--accent-11);
    --color-accent-12: var(--accent-12);
    --color-accent-a1: var(--accent-a1);
    --color-accent-a2: var(--accent-a2);
    --color-accent-a3: var(--accent-a3);
    --color-accent-a4: var(--accent-a4);
    --color-accent-a5: var(--accent-a5);
    --color-accent-a6: var(--accent-a6);
    --color-accent-a7: var(--accent-a7);
    --color-accent-a8: var(--accent-a8);
    --color-accent-a9: var(--accent-a9);
    --color-accent-a10: var(--accent-a10);
    --color-accent-a11: var(--accent-a11);
    --color-accent-a12: var(--accent-a12);
    --color-gray-1: var(--gray-1);
    --color-gray-2: var(--gray-2);
    --color-gray-3: var(--gray-3);
    --color-gray-4: var(--gray-4);
    --color-gray-5: var(--gray-5);
    --color-gray-6: var(--gray-6);
    --color-gray-7: var(--gray-7);
    --color-gray-8: var(--gray-8);
    --color-gray-9: var(--gray-9);
    --color-gray-10: var(--gray-10);
    --color-gray-11: var(--gray-11);
    --color-gray-12: var(--gray-12);
    --color-gray-a1: var(--gray-a1);
    --color-gray-a2: var(--gray-a2);
    --color-gray-a3: var(--gray-a3);
    --color-gray-a4: var(--gray-a4);
    --color-gray-a5: var(--gray-a5);
    --color-gray-a6: var(--gray-a6);
    --color-gray-a7: var(--gray-a7);
    --color-gray-a8: var(--gray-a8);
    --color-gray-a9: var(--gray-a9);
    --color-gray-a10: var(--gray-a10);
    --color-gray-a11: var(--gray-a11);
    --color-gray-a12: var(--gray-a12);
    --color-accent-contrast: var(--accent-contrast);
    --color-accent-surface: var(--accent-surface);
    --color-accent-track: var(--accent-track);
    --color-accent-indicator: var(--accent-indicator);
    --color-info-1: var(--info-1);
    --color-info-2: var(--info-2);
    --color-info-3: var(--info-3);
    --color-info-4: var(--info-4);
    --color-info-5: var(--info-5);
    --color-info-6: var(--info-6);
    --color-info-7: var(--info-7);
    --color-info-8: var(--info-8);
    --color-info-9: var(--info-9);
    --color-info-10: var(--info-10);
    --color-info-11: var(--info-11);
    --color-info-12: var(--info-12);
    --color-info-contrast: var(--info-contrast);
    --color-danger-1: var(--danger-1);
    --color-danger-2: var(--danger-2);
    --color-danger-3: var(--danger-3);
    --color-danger-4: var(--danger-4);
    --color-danger-5: var(--danger-5);
    --color-danger-6: var(--danger-6);
    --color-danger-7: var(--danger-7);
    --color-danger-8: var(--danger-8);
    --color-danger-9: var(--danger-9);
    --color-danger-10: var(--danger-10);
    --color-danger-11: var(--danger-11);
    --color-danger-12: var(--danger-12);
    --color-danger-contrast: var(--danger-contrast);
    --color-warning-1: var(--warning-1);
    --color-warning-2: var(--warning-2);
    --color-warning-3: var(--warning-3);
    --color-warning-4: var(--warning-4);
    --color-warning-5: var(--warning-5);
    --color-warning-6: var(--warning-6);
    --color-warning-7: var(--warning-7);
    --color-warning-8: var(--warning-8);
    --color-warning-9: var(--warning-9);
    --color-warning-10: var(--warning-10);
    --color-warning-11: var(--warning-11);
    --color-warning-12: var(--warning-12);
    --color-warning-contrast: var(--warning-contrast);
    --color-success-1: var(--success-1);
    --color-success-2: var(--success-2);
    --color-success-3: var(--success-3);
    --color-success-4: var(--success-4);
    --color-success-5: var(--success-5);
    --color-success-6: var(--success-6);
    --color-success-7: var(--success-7);
    --color-success-8: var(--success-8);
    --color-success-9: var(--success-9);
    --color-success-10: var(--success-10);
    --color-success-11: var(--success-11);
    --color-success-12: var(--success-12);
    --color-success-contrast: var(--success-contrast);
}

@layer base {
    :root,
    .light,
    .light-theme {
        --color-accent-1: var(--accent-1);
        --color-accent-2: var(--accent-2);
        --color-accent-3: var(--accent-3);
        --color-accent-4: var(--accent-4);
        --color-accent-5: var(--accent-5);
        --color-accent-6: var(--accent-6);
        --color-accent-7: var(--accent-7);
        --color-accent-8: var(--accent-8);
        --color-accent-9: var(--accent-9);
        --color-accent-10: var(--accent-10);
        --color-accent-11: var(--accent-11);
        --color-accent-12: var(--accent-12);
        --color-accent-a1: var(--accent-a1);
        --color-accent-a2: var(--accent-a2);
        --color-accent-a3: var(--accent-a3);
        --color-accent-a4: var(--accent-a4);
        --color-accent-a5: var(--accent-a5);
        --color-accent-a6: var(--accent-a6);
        --color-accent-a7: var(--accent-a7);
        --color-accent-a8: var(--accent-a8);
        --color-accent-a9: var(--accent-a9);
        --color-accent-a10: var(--accent-a10);
        --color-accent-a11: var(--accent-a11);
        --color-accent-a12: var(--accent-a12);
        --color-accent-contrast: var(--accent-contrast);
        --color-accent-surface: var(--accent-surface);
        --color-accent-track: var(--accent-track);
        --color-accent-indicator: var(--accent-indicator);
        --color-gray-1: var(--gray-1);
        --color-gray-2: var(--gray-2);
        --color-gray-3: var(--gray-3);
        --color-gray-4: var(--gray-4);
        --color-gray-5: var(--gray-5);
        --color-gray-6: var(--gray-6);
        --color-gray-7: var(--gray-7);
        --color-gray-8: var(--gray-8);
        --color-gray-9: var(--gray-9);
        --color-gray-10: var(--gray-10);
        --color-gray-11: var(--gray-11);
        --color-gray-12: var(--gray-12);
        --color-gray-a1: var(--gray-a1);
        --color-gray-a2: var(--gray-a2);
        --color-gray-a3: var(--gray-a3);
        --color-gray-a4: var(--gray-a4);
        --color-gray-a5: var(--gray-a5);
        --color-gray-a6: var(--gray-a6);
        --color-gray-a7: var(--gray-a7);
        --color-gray-a8: var(--gray-a8);
        --color-gray-a9: var(--gray-a9);
        --color-gray-a10: var(--gray-a10);
        --color-gray-a11: var(--gray-a11);
        --color-gray-a12: var(--gray-a12);
    }

    .dark,
    .dark-theme {
        --color-accent-1: var(--accent-1);
        --color-accent-2: var(--accent-2);
        --color-accent-3: var(--accent-3);
        --color-accent-4: var(--accent-4);
        --color-accent-5: var(--accent-5);
        --color-accent-6: var(--accent-6);
        --color-accent-7: var(--accent-7);
        --color-accent-8: var(--accent-8);
        --color-accent-9: var(--accent-9);
        --color-accent-10: var(--accent-10);
        --color-accent-11: var(--accent-11);
        --color-accent-12: var(--accent-12);
        --color-accent-a1: var(--accent-a1);
        --color-accent-a2: var(--accent-a2);
        --color-accent-a3: var(--accent-a3);
        --color-accent-a4: var(--accent-a4);
        --color-accent-a5: var(--accent-a5);
        --color-accent-a6: var(--accent-a6);
        --color-accent-a7: var(--accent-a7);
        --color-accent-a8: var(--accent-a8);
        --color-accent-a9: var(--accent-a9);
        --color-accent-a10: var(--accent-a10);
        --color-accent-a11: var(--accent-a11);
        --color-accent-a12: var(--accent-a12);
        --color-gray-1: var(--gray-1);
        --color-gray-2: var(--gray-2);
        --color-gray-3: var(--gray-3);
        --color-gray-4: var(--gray-4);
        --color-gray-5: var(--gray-5);
        --color-gray-6: var(--gray-6);
        --color-gray-7: var(--gray-7);
        --color-gray-8: var(--gray-8);
        --color-gray-9: var(--gray-9);
        --color-gray-10: var(--gray-10);
        --color-gray-11: var(--gray-11);
        --color-gray-12: var(--gray-12);
        --color-gray-a1: var(--gray-a1);
        --color-gray-a2: var(--gray-a2);
        --color-gray-a3: var(--gray-a3);
        --color-gray-a4: var(--gray-a4);
        --color-gray-a5: var(--gray-a5);
        --color-gray-a6: var(--gray-a6);
        --color-gray-a7: var(--gray-a7);
        --color-gray-a8: var(--gray-a8);
        --color-gray-a9: var(--gray-a9);
        --color-gray-a10: var(--gray-a10);
        --color-gray-a11: var(--gray-a11);
        --color-gray-a12: var(--gray-a12);
        --color-info-1: var(--info-1);
        --color-info-2: var(--info-2);
        --color-info-3: var(--info-3);
        --color-info-4: var(--info-4);
        --color-info-5: var(--info-5);
        --color-info-6: var(--info-6);
        --color-info-7: var(--info-7);
        --color-info-8: var(--info-8);
        --color-info-9: var(--info-9);
        --color-info-10: var(--info-10);
        --color-info-11: var(--info-11);
        --color-info-12: var(--info-12);
        --color-info-contrast: var(--info-contrast);
        --color-danger-1: var(--danger-1);
        --color-danger-2: var(--danger-2);
        --color-danger-3: var(--danger-3);
        --color-danger-4: var(--danger-4);
        --color-danger-5: var(--danger-5);
        --color-danger-6: var(--danger-6);
        --color-danger-7: var(--danger-7);
        --color-danger-8: var(--danger-8);
        --color-danger-9: var(--danger-9);
        --color-danger-10: var(--danger-10);
        --color-danger-11: var(--danger-11);
        --color-danger-12: var(--danger-12);
        --color-danger-contrast: var(--danger-contrast);
        --color-warning-1: var(--warning-1);
        --color-warning-2: var(--warning-2);
        --color-warning-3: var(--warning-3);
        --color-warning-4: var(--warning-4);
        --color-warning-5: var(--warning-5);
        --color-warning-6: var(--warning-6);
        --color-warning-7: var(--warning-7);
        --color-warning-8: var(--warning-8);
        --color-warning-9: var(--warning-9);
        --color-warning-10: var(--warning-10);
        --color-warning-11: var(--warning-11);
        --color-warning-12: var(--warning-12);
        --color-warning-contrast: var(--warning-contrast);
        --color-success-1: var(--success-1);
        --color-success-2: var(--success-2);
        --color-success-3: var(--success-3);
        --color-success-4: var(--success-4);
        --color-success-5: var(--success-5);
        --color-success-6: var(--success-6);
        --color-success-7: var(--success-7);
        --color-success-8: var(--success-8);
        --color-success-9: var(--success-9);
        --color-success-10: var(--success-10);
        --color-success-11: var(--success-11);
        --color-success-12: var(--success-12);
        --color-success-contrast: var(--success-contrast);
    }
}
