:root, .light, .light-theme {
  --gray-a1: #00804004;
  --gray-a2: #00402008;
  --gray-a3: #002d1e11;
  --gray-a4: #001f1519;
  --gray-a5: #00180820;
  --gray-a6: #00140d28;
  --gray-a7: #00140a34;
  --gray-a8: #000f0847;
  --gray-a9: #00110b79;
  --gray-a10: #00100a83;
  --gray-a11: #000a07a0;
  --gray-a12: #000805e5;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --gray-a1: color(display-p3 0.024 0.514 0.267 / 0.016);
      --gray-a2: color(display-p3 0.02 0.267 0.145 / 0.032);
      --gray-a3: color(display-p3 0.008 0.184 0.125 / 0.067);
      --gray-a4: color(display-p3 0.012 0.094 0.051 / 0.095);
      --gray-a5: color(display-p3 0.008 0.098 0.035 / 0.126);
      --gray-a6: color(display-p3 0.004 0.078 0.027 / 0.157);
      --gray-a7: color(display-p3 0 0.059 0.039 / 0.2);
      --gray-a8: color(display-p3 0.004 0.047 0.031 / 0.275);
      --gray-a9: color(display-p3 0.004 0.059 0.035 / 0.471);
      --gray-a10: color(display-p3 0 0.047 0.031 / 0.51);
      --gray-a11: color(display-p3 0 0.031 0.02 / 0.624);
      --gray-a12: color(display-p3 0 0.027 0.012 / 0.895);
    }
  }
}