:root, .light, .light-theme {
  --gray-1: #fdfdfc;
  --gray-2: #f9f9f8;
  --gray-3: #f1f0ef;
  --gray-4: #e9e8e6;
  --gray-5: #e2e1de;
  --gray-6: #dad9d6;
  --gray-7: #cfceca;
  --gray-8: #bcbbb5;
  --gray-9: #8d8d86;
  --gray-10: #82827c;
  --gray-11: #63635e;
  --gray-12: #21201c;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --gray-1: color(display-p3 0.992 0.992 0.989);
      --gray-2: color(display-p3 0.977 0.977 0.973);
      --gray-3: color(display-p3 0.943 0.942 0.936);
      --gray-4: color(display-p3 0.913 0.912 0.903);
      --gray-5: color(display-p3 0.885 0.883 0.873);
      --gray-6: color(display-p3 0.854 0.852 0.839);
      --gray-7: color(display-p3 0.813 0.81 0.794);
      --gray-8: color(display-p3 0.738 0.734 0.713);
      --gray-9: color(display-p3 0.553 0.553 0.528);
      --gray-10: color(display-p3 0.511 0.511 0.488);
      --gray-11: color(display-p3 0.388 0.388 0.37);
      --gray-12: color(display-p3 0.129 0.126 0.111);
    }
  }
}